All the IPython Notebooks in this lecture series are available at https://github.com/rajathkumarmp/Python-Lectures

Структуры данных
=============

Структура данных, попросту говоря, это коллекция или группа каких-либо данных в определенной структуре.

Lists
============

List это наиболее частая структура данных в Python. Вы можете думать о нем как о последовательности объектов, заключенных в квадратные скобки и разделенных запятыми. Каждый элемент Listа может быть получен с помощью **индекса**

Чтобы создать список, достаточно просто присвоить переменной пустые квадратные скобки

In [2]:
a = []

In [3]:
print(type(a))

<class 'list'>

In [5]:
x = ['apple', 'orange']

### Индексация

Индексация элементов в Питон начинается с нуля.

In [6]:
x[0]

'apple'

Брать элементы по индексу можно с конца, для этого можно использовать отрицательные индексы

In [7]:
x[-1]

'orange'

In [8]:
y = ['carrot','potato']

Мы создали еще один список y. Теперь мы можем создать список списков из x и y. Это называется вложенные списки

In [9]:
z  = [x,y]
print(z)

[['apple', 'orange'], ['carrot', 'potato']]

Чтобы взять элемент вложенного списка используется двойная (и сколь угодно арная) индексация

In [10]:
z[0][0]

'apple'

In [10]:
z[1][0]

'carrot'

### Slicing

Слайсинг это возможность выбор подмножества списка. Мы можем выбрать все элементы в определенном интервале или пропуская каждый n-ный элемент

Чтобы взять __слайс__ списка, нужно поместить наш интервал в квадратные скобки [ a : b ] где a - начало интервала (можно не указывать, тогда a = 0), а b, соответственно, конец интервала

In [11]:
num = [0,1,2,3,4,5,6,7,8,9]

In [13]:
print(num[2:5])
print(num[4:])
print(num[:8])

[2, 3, 4]
[4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7]

Слайсинг с определенным шагом

In [15]:
num[1:8:2]

[1, 3, 5, 7]

### Built in List Functions

Чтобы взять длину списка, можно использовать **len()**

In [14]:
len(num)

10

Функции **min** и **max** возвращают минимальный и максимальный элементы списка

In [16]:
min(num)

0

In [17]:
max(num)

9

Списки можно конкатенировать (слеплять) с помощью оператора **+**

In [18]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

In [21]:
names = ['Earth','Air','Fire','Water']

Чтобы проверить вхождение какого-либо элемента в список, можно использовать __obj__ **in** __list__

In [22]:
'Fire' in names

True

In [23]:
'Rajath' in names

False

min max также работает со списками строк и с самими строками

In [24]:
mlist = ['bzaa','ds','nc','az','z','klm']

In [26]:
print(max(mlist))
print(min(mlist))

z
az

Если у вас есть объект, который можно представить с помощью списка, преобразовать его в список можно с помощью функции list()

In [27]:
list('hello')

['h', 'e', 'l', 'l', 'o']

Чтобы добавить элемент в список можно использовать **append( )**

In [28]:
lst = [1,1,4,8,7]

In [30]:
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1, 1]

**count( )** - кол-во конкретных элементов

In [31]:
lst.count(1)

4

**index( )** - индекс элемента в списке

In [32]:
lst.index(1)

0

**insert(x,y)** - вставить y на позицию x

In [34]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', 1, 1]

Чтобы получить отсортированный список, используется sorted()

In [37]:
print(sorted([1, 4, 6, 1, 9, 123, 43, 12]))

[1, 1, 4, 6, 9, 12, 43, 123]

В обратном порядке

In [38]:
print(sorted([1, 4, 6, 1, 9, 123, 43, 12], reverse=True))

[123, 43, 12, 9, 6, 4, 1, 1]

## Tuples

Tuple похож на list, но с тем большим отличем, что tuple - неизменяемая последовательность

In [39]:
result = divmod(10,3)
print(result)
print(type(result))

(3, 1)
<class 'tuple'>

Функция divmod возвращает два значения, частное и остаток. Когда нам нужно вернуть или подать несколько значений, используются таплы

Чтобы создать tuple, можно использовать пустые скобки или tuple()

In [43]:
tup = ()
tup2 = tuple()

Обратите внимание на запятую в конце, она должна там быть

In [44]:
27,

(27,)

In [45]:
tup3 = tuple([1,2,3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

In [46]:
print(tup3[1])
tup5 = tup4[:3]
print(tup5)

2
('H', 'e', 'l')

### "Распаковка" таплов

In [47]:
(a,b,c)= ('alpha','beta','gamma')

In [49]:
print(a,b,c)

alpha beta gamma

In [50]:
c, a, k, e = tuple('Cake')
print(c)
print(a)
print(k)
print(e)

C
a
k
e

## Sets

Set - множество из математики. Используется для удаления дубликатов в списках и проведения операций над множествами (из теории множеств)

Чтобы создать пустой set используется set(), set([sequence]) преобразует последовательность в set

In [51]:
set1 = set()
print(type(set1))

<class 'set'>

In [52]:
set0 = set([1,2,2,3,3,4])
print(set0)

{1, 2, 3, 4}

### Built-in Functions

In [53]:
set1 = set([1,2,3])

In [54]:
set2 = set([2,3,4,5])

**union( )** операция "объединения" множеств. Набор элементов которые входят в первое ИЛИ во второе множество

In [55]:
set1.union(set2)

{1, 2, 3, 4, 5}

**add( )** добавляет элемент в set

In [56]:
set1.add(0)
set1

{0, 1, 2, 3}

**intersection( )** операция пересечения множеств. Набор элементов которые принадлежат И первому И второму множеству

In [57]:
set1.intersection(set2)

{2, 3}

**difference( )** разность множеств. Набор элементов которые принадлежат первому множеству и не принадлежат второму

In [58]:
set1.difference(set2)

{0, 1}